body {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#header {
    text-align: center;
    margin-bottom: 30px;
}

#header img {
    width: 550px;   /* change as needed */
    height: auto;   /* maintains aspect ratio */
}

#form {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px;
}

input[type="submit"] {
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

#username {
  position: fixed;
  top: 10px;
  right: 10px;
  color: white;
  z-index: 9999;
}

div {
    margin-bottom: 10px;
}

.container {
    position: absolute;
    top: 10px;    /* Adjust these values as needed */
    left: 10px;
}

.label-check {
    display: none;
  }
  
  .hamburger-label {
    width: 70px;
    height: 58px;
    display: block;
    cursor: pointer;
  }
  
  .hamburger-label div {
    width: 70px;
    height: 6px;
    background-color: #fff;
    position: absolute;
  }
  
  .line1 {
    transition: all .3s;
  }
  
  .line2 {
    margin: 18px 0 0 0;
    transition: 0.3s;
  }
  
  .line3 {
    margin: 36px 0 0 0;
    transition: 0.3s;
  }
  
  #label-check:checked + .hamburger-label .line1 {
    transform: rotate(35deg) scaleX(.55) translate(39px, -4.5px);
    border-radius: 50px 50px 50px 0;
  }
  
  #label-check:checked + .hamburger-label .line3 {
    transform: rotate(-35deg) scaleX(.55) translate(39px, 4.5px);
    border-radius: 0 50px 50px 50px;
  }
  
  #label-check:checked + .hamburger-label .line2 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 45px;
  }

#menu {
    position: absolute;
    top: 50px;  /* Adjust as needed */
    left: 10px; /* Adjust as needed */
}

#menu a {
    color: white;
    text-decoration: none;
    display: block;
}

.menu-hidden {
    display: none;
}

.menu-shown {
    display: block;
}

.hamburger-menu-buttons {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}